
<br>
<div class="row">
  <div class="col-md-12">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Github Username" [(ngModel)]="username" name="username" (keyup)="search()">
      </div>
    </form>
  </div>
</div>

<div *ngIf="user">
  <div class="card">
      <div class="card-header">
          <h1><i class="fab fa-github"></i>  {{user.name}}</h1>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <img class="img-thumbnail" src="{{user.avatar_url}}" alt="{{user.login}}'s profile photo">
          </div>
          <div class="col-md-8">
            <div class="row">
                <span class="badge badge-primary">{{user.public_repos}} Public Repos  </span>
                <span class="badge badge-success"><i class="fas fa-users"></i> {{user.followers}} Folowers  </span>
                <span class="badge badge-info"><i class="fas fa-user-friends"></i> {{user.following}} Following  </span>
            </div>
            <div class="row">
              <ul class="list-group">
                  <li class="list-group-item"><i class="fas fa-user"></i> Username: {{user.login}}</li>
                  <li class="list-group-item"><i class="fas fa-map-marked-alt"></i> Location: {{user.location}}</li>
                  <li class="list-group-item"><i class="fas fa-envelope-square"></i> Email: {{user.email}}</li>
                  <li class="list-group-item"><i class="fas fa-calendar-day"></i> Member Since: {{user.created_at|daysPassed}}</li>
              </ul>
            </div>            
          </div>
        </div>
      </div>
    </div>
    <br>
  <div class="card">
      <div class="card-header">
        <h3>{{user.login}}'s Repositories</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div *ngFor="let repo of repos">
              <div class="row">
                <div class="col-md-9">
                  <h5><a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></h5>
                  <p>{{repo.description}}</p>
                </div>
                <div class="col-md-3">
                  <span class="badge-primary">{{repo.forks}} Forks</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>    
</div>